target
.idea
.gradle
out
build
screenshots
gradle
gradlew
gradlew.bat
bash
scraper-core
scraper-core/out
scraper-service.iml
scraper-service.ipr
scraper-service.iws
scraper-service.main.iml
scraper-service.test.iml
install